.input-serch--city{
 @include size(30%,65px,10px 0 0 10px);
 min-width: 200px;
 @include flex(column,center,center);
 font-size: 2rem;
 padding-left: 30px;
 @include media-down("md"){
  font-size: 1.6rem;
  @include size(30%,40px,10px 0 0 10px);
 }
}

.button-serch--city{
 @include size(65px,65px,0 10px 10px 0);
 background-color: color("blueGreen");
 @include media-down("md"){
  @include size(40px,40px,0 10px 10px 0);
 }
 img{
  width: 20px;
 }
}